@charset "UTF-8";
.text_green {
  color: #00A19A;
}
.text_green a {
  color: #00A19A;
}

.text_blue {
  color: #0072D3;
}
.text_blue a {
  color: #0072D3;
}

.text_red {
  color: #E60012;
}
.text_red a {
  color: #E60012;
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, img, dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

ul ul {
  margin: 0;
}

table {
  border-spacing: 0;
  table-layout: fixed;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "メイリオ", meiryo, sans-serif;
  line-height: 1.2;
  font-size: 14px;
  color: #555;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 2;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #E60012;
}

a:hover > img {
  opacity: 0.7;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  background: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  background: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

h3 {
  font-size: 13px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.d-flex {
  display: flex;
}

.clear {
  clear: both;
}

.mobile-none {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile-none {
    display: block;
  }
}

.w-19 {
  width: 19%;
}

header ul {
  align-items: stretch;
  line-height: 0;
  justify-content: space-between;
}
header ul li {
  width: 34%;
  border-right: 1px solid #fff;
}
header ul li:last-of-type {
  border-right: none;
}
header ul li a {
  display: flex;
  color: #EC9712;
  width: 100%;
  background: #000;
  height: 100%;
  align-items: center;
  font-size: 34px;
  font-weight: bold;
  justify-content: center;
}

.d-flex .w-19 {
  margin-bottom: 30px;
}
